
<footer class="mt-4">
    <div class="container-fluid" style="height: 350px;">
    <div class="row">
      <div class="col-md-5 text-center">
        <a href="">
          <img
            src="https://blogexpress.onrender.com/assets/images/logo123.png"
            alt=""
            style="margin-top: 20px; width: 60%"
          />
        </a>
        <br /><br />
      </div>

      <div class="col-md-7">
        <h2 class="ml-1">
          <span style="color: rgb(231, 221, 88)"> CONTACT</span> US
        </h2>
        <b></b>
        <p>
          We're a team focusing on redefining the way the hospitality industry
          works by bringing in concept based restaurants across India. We are
          truly committed to catering to the ever-changing cosmopolitan taste
          of the customer and revolutioning the F & B industry!
        </p>
        <!--row div starts-->

        <div class="row">
          <div class="col-md-6 foot-add">
            <span>
              <strong>Address</strong>
              <br />
              MIG ,332 Darapn Colony ,Thatipur (GWalior)
            </span>
          </div>

          <div class="col-md-6 foot-add">
            <span>
              <strong>Enquiry</strong>
              <br />
              Mobile: <a href="tel:09313663486"><b>+91 8962731880</b></a>
              <br />
              Email:
              <a href="mailto:customercare@pninfosys/in"
                ><b>pninfosys@gmail.com</b></a
              >
            </span>
          </div>
        </div>
        <!--row end-->
      </div>
      <!--col7 end-->
    </div>
  </div>
    <!--row end-->
  </footer>
</body>
</html>