<%-include('./header.ejs')  %>

    <img
      src="https://cdn.shopify.com/s/files/1/0070/7032/files/how-to-start-a-blog-illustration.png?format=jpg&quality=90&v=1595363254"
      alt=""
      class="w-100"
    />

    <div class="container mt-4">
      <div class="row">
        <!--row starts-->
        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src="https://res.cloudinary.com/dbteh0acf/image/upload/v1718108548/blogImage/yxhezkl4bnpp4neufmof.jpg "
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Ravi"
                <span>6/11/2024</span>
              </p>

              <h3>Blog 1</h3>
              <p>information on</p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src="https://res.cloudinary.com/dbteh0acf/image/upload/v1718108548/blogImage/yxhezkl4bnpp4neufmof.jpg "
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Vikas Jain"
                <span>6/11/2023</span>
              </p>

              <h3>Blog 1</h3>
              <p>information on</p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src="https://res.cloudinary.com/dbteh0acf/image/upload/v1684221689/blogImage/efwcqsvjkijmh72i9y9j.jpg"
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Ravi"
                <span>6/11/2024</span>
              </p>

              <h3>Blog 1</h3>
              <p>information on</p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>
      </div>
      <!--row ends-->

      <div class="row">
        <!--row starts-->
        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683733733/blogImage/ftlk1kt1551jndz2rs2r.jpg"
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Ravi"
                <span>6/11/2024</span>
              </p>

              <h3>Photography</h3>
              <p>The photography of nature</p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src=" https://res.cloudinary.com/dbteh0acf/image/upload/v1683536319/blogImage/vdf0trn7spssyafnawdx.png"
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Ravi"
                <span>6/11/2024</span>
              </p>

              <h3>
                BJP moves EC, seeks action against Cong, Sonia over Karnataka
                'sovereignty'
              </h3>
              <p>
                Karnataka Elections 2023 News Live Updates (May 8): The
                Bharatiya Janata Party (BJP) on Monday filed
              </p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <div class="card shadow-lg h-100">
            <img
              class="card-img-top"
              src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683535750/blogImage/rwilptxeoewaxhiatf6s.png"
              height="200"
            />
            <div class="card-body">
              <p style="text-transform: uppercase">
                "Ravi"
                <span>6/11/2024</span>
              </p>

              <h3>
                IAF's MiG-21 crashes near Hanumangarh in Rajasthan; three
                villagers killed, pilot safe
              </h3>
              <p>
                NEW DELHI: A MiG 21 fighter aircraft of the Indian A .. Read
                more at: http://timesofindia.indiat
              </p>
              <a href="" class="btn btn-danger"> Read More...</a>
            </div>
          </div>
        </div>
      </div>
      <!--row ends-->
    </div>
    <!--container end-->

    <div class="container mt-5">
      <center><a href="" class="btn btn-danger">View More...</a></center>
    </div>

    <%-include('./footer.ejs')  %>
